body {
  margin: 0;
  background-color: #880E4F;
}

#game {
  position: fixed;
}

#board {
  position: relative;
  width: 700px;
  height: 700px;
  transform-origin: top left;
  background-color: #808080;
  transform: scale(0.84);
}

#board img {
  width: 700px;
  height: 700px;
}

#checkpoint1, #checkpoint2, #player {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: lawngreen;
  border: 1px solid black;
  font-size: 100px;
}

#checkpoint1 {
  left: 400px;
}

#checkpoint2 {
  top: 200px;
  left: 0px;
}

#player {
  top: 600px;
  left: 500px;
  border-radius: 100%;
  background-color: white;
  z-index: 999999;
  transition: top 300ms, left 300ms, transform 300ms;
}

#player-icon {
  position: absolute;
  font-size: 97px;
  margin-top: -6px;
  margin-left: -11px;
  font-family: sans-serif;
  text-align: center;
  width: 100%;
}

.remote-player {
  position: absolute;
  font-size: 97px;
  margin-top: -6px;
  margin-left: -11px;
  transition: top 300ms, left 300ms;
}

#player-direction {
  position: absolute;
  font-size: 130px;
  margin-top: -70px;
  margin-left: -15px;
  color: white;
  text-shadow: 0 0 4px black;
}

#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #E91E63;
  color: white;
  font-size: large;
  font-family: sans-serif;
}

#welcome h1 {
  text-align: center;
}

#welcome form {
  z-index: 1;
}

#welcome input[type="text"] {
  font-size: large;
  font-size: xx-large;
  width: 180px;
}

#welcome input[type="submit"] {
  font-size: xx-large;
  max-width: 180px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 10px;
}

#welcome p {
  bottom: 0;
  position: absolute;
  margin: 10px;
  text-align: center;
  color: black;
  font-size: medium;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity, visibility;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

#lobby {
  position: fixed;
  width: 370px;
  height: 100%;
  background-color: #E91E63;
  color: white;
  font-size: x-large;
  font-family: sans-serif;
  left: 586px;
}

h2{
  width: 100%;
  text-align: center;
}

#lobby li {
  list-style-type: none;
  font-size: xx-large;
  margin-top: 7px;
}

#buttons {
  display: grid;
  width: 100vw;
  height: calc(0px - 100vw + 100vh);
  grid-template-columns: 1fr 1fr;
  position: absolute;
  bottom: 0;
}

#buttons div {
  border: 2px solid #EC407A;
  border-radius: 20px;
  background-color: white;
  margin: 5px;
  color: black;
  font-family: sans-serif;
}

#buttons div:active {
  border: 2px solid black;
  background-color: lightgrey;
}

#buttons div::after {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.l::after {
  content: "Turn left";
}

.r::after {
  content: "Turn right";
}

.s::after {
  content: "Go straight";
}

.x::after {
  content: "Random";
}

#results {
  position: fixed;
  right: 0;
  background-color: white;
  height: 100%;
  width: 370px;
  overflow-y: scroll;
  margin: 0;
  list-style-type: decimal;
  font-size: xx-large;
  font-family: sans-serif;
  transition: opacity 300ms, height 300ms;
}

#results li {
  margin-top: 7px;
}

#results.finish {
  height: 100%;
}